.bs-bot-avatar{
    width: 50px;
    height: 46px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
    color: #FDFEFE;
    background-color: #1f2938;
    margin-right: 10px;
}