:root {
  --mobile-box-shadow: #b0b0b229 0px -5px 6px 0px inset,
    #0000003d 4px 6px 11px 1px inset;
  --mobile-bg: #272b2d;
}

.mobile-scroll {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

.scroll-full-screen-wrapper {
  width: 60%;
  padding: 20px;
}

.scroll-full-screen {

  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mobile-mockup-wrapper {
  width: 40%;
}

.mobile-mockup {
  position: sticky;
  top: 95px;
  transform: translateX(30%);
  width: 275px;
  height: 500px;
  box-shadow: var(--mobile-box-shadow);
  border-radius: 25px;
  /* padding: 16px 14px; */
  /* max-height: 78vh; */
}

.mobile-mockup-screen {
  background-color: var(--mobile-bg);
  overflow: hidden;
  height: 100%;
  border-radius: inherit;
}

.mobile-screen-img {


  object-fit: contain;
}

.screen-text {
  opacity: 0;
  padding-bottom: 80px;
}

.text-visible {
  opacity: 1;
  transition: 0.75s;
}

.screen-heading {
  font-size: 44px;
  font-weight: 700;
  line-height: 105px;
}

.screen-description {
  font-size: 24px;
  font-weight: 400;
  margin-top: 52px;
}

@media all and (max-width: 1279px) {
  .mobile-scroll {
    padding-bottom: 30px;
  }
  .mobile-mockup {
    width: 272px;
    height: 480px;
  }
  .screen-heading {
    font-size: 70px;
    line-height: 70px;
  }
  .mobile-mockup {
    transform: translateX(10%);
  }

  .screen-description {
    font-size: 18px;
    margin-top: 44px;
  }
}

@media all and (max-width: 767px) {
  .mobile-mockup {
    width: 272px;
    height: 480px;
  }
  .screen-heading {
    font-size: 50px;
    line-height: 50px;
  }

  .scroll-full-screen-wrapper {
    width: 100%;
  }
}
